body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: darkblue;
    padding: 2px 0 0 20px;
}

h1 {
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.content {
    line-height: 1em;
    width: auto;
}
h2 {
    font-weight: bold;
    margin: 50px 0 0  0 ;
}


